<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: atlassianConnectResources}">
    <title>Atlassian Connect Spring Boot Thymeleaf Sample</title>
</head>
<body class="aui-page-hybrid">
<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <h1>Thymeleaf Sample</h1>
            </div>
        </div>
    </header>
    <div class="aui-page-panel main-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-item">
                <div class="aui-group">
                    <div class="aui-item">Hello, <span th:text="${#authentication.principal.userKey.get()}">User</span>!</div>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
</html>
